/* Global Styles */
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 65.5%;
}

:root {
  --background: black;
  --text: white;
  --ab-background: rgb(27, 17, 33);
  --pr-background: rgb(17, 33, 30);
  --va-background: rgb(61, 0, 0);
  --shadow-color: rgba(171, 60, 60, 0.696);
  --box-shadow-intensity: rgba(0, 0, 0, 0.495);
}

.lightmode {
  --background: white;
  --text: black;
  --ab-background: rgb(247, 241, 251);
  --pr-background: rgb(247, 252, 248);
  --va-background: rgb(246, 241, 235);
  --shadow-color: rgba(160, 0, 0, 0.392);
  --box-shadow-intensity: rgba(5, 5, 5, 0.539);
}

div {
  overflow-y: hidden;
}

body {
  font-family: 'Times New Roman MT Std';
  color: var(--text);
  background-color: var(--background);
  transition: background-color 0.1s, color 0.1s;
}

hr {
  border-color: var(--text);
}

h1 {
  font-size: 4rem;
  font-weight: 400;
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

p {
  margin-top: 20px;
}

b,
i {
  font-size: inherit;
}

/* Links */
a {
  color: var(--text);
  font-size: 1.7rem;
  overflow: hidden;
}

a:not(.underlined-link) {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
  text-decoration-color: var(--text);
}

.underlined-link {
  border-bottom: 1px solid var(--text);
  text-decoration: none;
  text-shadow: 0 0 1px var(--text), 0 0 3px var(--shadow-color);
}

/* Custom Scrollbar */
body::-webkit-scrollbar {
  background-color: var(--background);
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: var(--background);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--text);
}

body::-webkit-scrollbar-button {
  display: none;
}

/* In-Focus Section */
.in-focus {
  box-shadow: 0 0 10px 5px var(--box-shadow-intensity);
  text-shadow: 0 0 1px var(--text), 0 0 3px var(--shadow-color);
  z-index: 1;
}

/* Hero Section */
.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero span {
  font-size: 8rem;
  margin-bottom: 50px;
  text-align: center;
  transform: scale(0.79, 1);
}

/* Section Styles */
.aboutme,
.projects,
.vault {
  position: relative;
  transition: text-shadow 0.5s, box-shadow 0.5s;
  padding-inline: 70px;
  padding-block: 60px;
}

.content {
  display: block;
  margin: auto;
  max-width: 1400px;
}

.aboutme {
  background-color: var(--ab-background);
}

.projects {
  background-color: var(--pr-background);
}

.vault {
  background-color: var(--va-background);
}

/* About Me Section */
.aboutme p {
  font-size: 2.5rem;
}

/* Projects Section */
.projects p {
  font-size: 1.7rem;
  max-width: 70%;
}

@media (max-width: 840px) {
  .projects p {
    font-size: 1.4rem;
    max-width: 100%;
  }
}

.projects li {
  margin-top: 25px;
}

.projects a {
  font-size: 2.5rem;
}

.projects span {
  font-size: 1.2rem;
}

/* Vault Section */
.vault li {
  border-left: solid 3px var(--text);
  margin-top: 10px;
}

.vault h2 {
  margin-top: 20px;
}

.vault a {
  margin-left: 10px;
  font-size: 1.5rem;
}

/* Miscellaneous */
button:hover {
  cursor: pointer;
}

.secret {
  display: none;
}

@media only screen and (min-resolution: 300dpi), (max-height: 400px) {
  .secret {
    position: fixed;
    display: flex;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    color: var(--text);
    top: 0;
    font-size: 10vw;
    user-select: none;
  }
  .secret span {
    transform: scale(0.79, 1);
  }

  body::-webkit-scrollbar {
    display: none;
  }
}

#settings-button,
#nav,
#contact,
#settings-modal {
  z-index: 2;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 5px var(--box-shadow-intensity);
  text-shadow: 0px 0px 1px var(--text), 0px 0px 3px var(--shadow-color);
  background-color: var(--background);
}

#nav li,
#contact li,
#settings-button {
  padding: 1.2rem;
  padding-top: 1.3rem;
}

/* Settings Button & Modal */
#settings-button {
  position: fixed;
  top: 10px;
  left: 10px;
}

#settings-modal {
  position: fixed;
  left: 70px;
  top: 10px;
  padding: 8px;
  font-size: 3.5rem;
  color: var(--text);
  border: solid 2px var(--text);
}

#settings-modal Button,
#settings-modal input[type='checkbox'],
#settings-modal input[type='checkbox']:checked {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  color: var(--background);
}

#settings-modal Button,
#settings-modal input[type='checkbox']:checked {
  background-color: var(--text);
}

#settings-modal Button {
  border: none;
}

#settings-modal input[type='checkbox'] {
  appearance: none;
  border: 2px solid var(--text);
}

#settings-modal li {
  padding: 5px;
}

dialog::backdrop {
  opacity: 0;
}

dialog[open] {
  animation: fadein 0.2s ease;
}

/* Page navigation */

#nav ul,
#contact ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-inline: 10px;
}

#nav li,
#contact li {
  flex: none;
  min-width: fit-content;
}

#nav:not(.fixed-navbar) {
  position: absolute;
  width: fit-content;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 60vh;
  box-shadow: none;
  background-color: transparent;
}

.fixed-navbar {
  background-color: inherit;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
}

@media (max-width: 900px) {
  .fixed-navbar {
    top: auto;
    bottom: 10px;
    left: 50%;
  }
}

.underlined-link {
  border-bottom: 1px solid var(--text);
  text-shadow: 0px 0px 1px var(--text), 0px 0px 3px var(--shadow-color);
  text-decoration: none;
}

/* Socials & Contact Bar */
#contact {
  position: fixed;
  top: 10px;
  right: 10px;
}

/* Navigation to index & notes/design page */
#to-main,
#to-notes-design {
  position: fixed;
  bottom: 0;
  background-color: var(--background);
  opacity: 0.9;
  padding: 10px;
}

#to-notes-design {
  right: 0;
}

/* Google Doc Embed */

.doc-embed-wrapper {
  max-width: 800px;
  display: block;
  margin: auto;
  padding-inline: 30px;
  margin-top: 2vh;
  text-align: center;
}

.doc-embed {
  min-width: 100%;
  height: 96vh;
}

.notenav {
  position: fixed;
  padding: 10px;
}

@media (max-width: 1250px) {
  .doc-embed-wrapper {
    margin-top: 0;
  }
  .doc-embed {
    height: 85vh;
  }
  .notenav {
    position: relative;
    text-align: center;
  }
}

/* Display Filters */

.crt,
.noise {
  content: ' ';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 1000;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
  opacity: 0.6;
}

/* Film Grain */
.noise {
  background-image: url('../assets/noise.png');
  background-size: 200px 200px;
  opacity: 0.08;
  animation: grain 1s steps(10) infinite;
}

@keyframes grain {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 200px 200px;
  }
}

/* Miscellaneous */
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
